.search-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 80vh;
  }
  
  .search-header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .app-title {
    font-size: 35px;
    font-weight: bold;
    color: #0056b3;
    margin: 20px;
    text-align: center;
  }
  
  .search-question {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    color: #0056b3;
  }
  
  .search-input-container {
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .search-input-field {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #007BFF;
    border-radius: 4px;
    font-size: 16px;
  }

  .search-input-field:focus {
    border: 2px solid #0056b3;
    outline: none;
  }


  
  .clear-search {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    color: #007BFF;
    font-size: 16px;
  }
  
  .search-button-container {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  
  .search-submit-button {
    width: 100%;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    max-width: 600px;
  }
  
  .search-submit-button:hover {
    background-color: #0056b3;
  }
  

  .alert-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
